.tool-bar {
    -fx-background-color: transparent;
}

.split-pane {
    -fx-background-color: transparent;
}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-pref-width: 5;
}

.veil {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.hidden-header .column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}

.scroll-pane > .viewport {
   -fx-background-color: WHITE;
}